/* register.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    /* padding: 10px 0; */
    text-align: center;
    height: 20px;
}

.nav-links {
    text-align: right;
    padding-right: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.register-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.register-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.register-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.back-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.register-header h1 {
    font-size: 1.8rem;
    color: #333;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.register-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.register-input:focus {
    border-color: #333;
    outline: none;
}

.register-button {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}

.register-button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
